{% extends "leadflex/_layouts/base" %}

{% do googleMaps.loadAssets() %}

{% macro columnHeader(name, isSortable) %}
    <th class="px-4 py-2 text-left border-b border-gray-300">
        <div class="flex justify-between items-center">
            <span>{{ name }}</span>
            {% if isSortable %}
                <svg class="h-4 w-4 sort-icon"><use xlink:href="#sort"></use></svg>
            {% endif %}
        </div>
    </th>
{% endmacro %}

{% block content %}
    <div id="map" style="height: 500px"{# data-fetch-locations-url="/api/locations.json"#}></div>
    <div class="container mx-auto my-8">
        <table id="overlaps" class="w-full table-auto border-collapse border border-gray-300">
            <thead>
                <tr class="bg-gray-200">
                    {{ _self.columnHeader('Title', false) }}
                    {{ _self.columnHeader('Driver Type', true) }}
                    {{ _self.columnHeader('Trailer Type', true) }}
                    {{ _self.columnHeader('Job Type', true) }}
                    {{ _self.columnHeader('City', true) }}
                    {{ _self.columnHeader('State', true) }}
                    {{ _self.columnHeader('Hiring Radius', true) }}
                    {{ _self.columnHeader('Assigned Campaign', true) }}
                    {{ _self.columnHeader('Advertise', true) }}
                    {{ _self.columnHeader('Link to Page', false) }}
                    {{ _self.columnHeader('Show on Map', false) }}
                </tr>
            </thead>
            <tbody>
                <!-- More rows will be populated here -->
            </tbody>
        </table>
        <div class="text-center py-4 flex justify-center items-center w-full mx-auto" id="loading-indicator">
            <div class="loader mr-6"></div>
            <p>Loading locations, please wait...</p>
        </div>
    </div>
{% endblock %}
